.idea
local.properties
.idea/libraries/Gradle___Users_baiyu_githubwork_JetpackExercise_dependencies_config_build_pluginUnderTestMetadata.xml
.gradle
.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
.idea/libraries/Gradle__org_koin_koin_android_2_1_5_aar.xml
